{% load static %}
{% block content %}
<a href="/cart/">Cart ({{num_products_in_cart}})</a>
<br><br>
{% for image in images %}
<img src="/static{{ image.images.url }}" alt="" style="max-width: 100px;">
{% endfor %}
{{ product.name }}
<br />
{{ product.description }}
<br />
{% if product.price != discounted_price %}
<s>{{product.price}} eur</s> - {{product.discount}}%<br>{{ discounted_price }} eur
{% else %}
{{product.price}} eur
{% endif %}
<br>

{% if sizes|length > 0 %}
<select name="size" id="size">
    {% for size in sizes %}
    <option value="{{ size.id }}" data-product="{{ product.id }}" data-size="{{ size.id }}">{{ size.size }}</option>
    {% endfor %}

</select>
<div style="display: flex;">

    <button class="decrease-quantity" data-action="decrease" type="button" id="decrease">-</button>
    <p id="quantity">1</p>
    <button class="increase-quantity" data-action="increase" type="button" id="increase"
        data-max-quantity="1">+</button></br>

</div>
<button type="button" id="submit">Add to Cart</button>
{% else %}
Sold out
{% endif %}
<br>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var quantityElement = $("#quantity");
        var increaseButton = $("#increase");
        var decreaseButton = $("#decrease");
        updateMaxQuantity();
        // Listen for changes in the size select
        $("#size").on("change", function () {
            updateMaxQuantity();
        });

        decreaseButton.on("click", function () {
            var currentQuantity = parseInt(quantityElement.text());
            if (currentQuantity > 1) {
                currentQuantity -= 1;
                quantityElement.text(currentQuantity);
            }
        });

        // Increase quantity button
        increaseButton.on("click", function () {
            var currentQuantity = parseInt(quantityElement.text());
            var maxQuantity = increaseButton.attr("data-max-quantity");
            if (currentQuantity < maxQuantity) {
                currentQuantity += 1;
                quantityElement.text(currentQuantity);
            }
        });

        function updateMaxQuantity() {
            var selectedSize = $("#size option:selected");
            var productId = selectedSize.data("product");
            var size = selectedSize.data("size");

            // Make an AJAX request to fetch the quantity from the server
            $.ajax({
                url: "/get-size-quantity/",
                type: "GET",
                data: {
                    product_id: productId,
                    size: size
                },
                success: function (data) {
                    // Update the max attribute of the quantity input
                    var maxQuantity = data.quantity;
                    increaseButton.attr("data-max-quantity", maxQuantity);

                    // Update the min attribute based on the quantity
                    if (maxQuantity === 0) {
                        quantityElement.text(0);
                    } else {
                        quantityElement.text(1);
                    }
                },
                error: function () {
                    // Handle errors, if any
                }
            });
        }

        $("#submit").on("click", function () {
            addToCart();
        });

        function addToCart() {
            var selectedSize = $("#size option:selected");
            var quantityElement = document.getElementById("quantity"); // Use the dynamically constructed ID
            var quantity = parseInt(quantityElement.innerText, 10);

            var size = selectedSize.data("size");

            // Make an AJAX request to fetch the quantity from the server
            $.ajax({
                url: "/addtocart/",
                type: "GET",
                data: {
                    quantity: quantity,
                    size: size
                },
                success: function (data) {
                    // Update the max attribute of the quantity input
                    console.log("added to cart")
                    location.reload();
                },
                error: function () {
                    // Handle errors, if any
                }
            });
        }
    });
</script>
{% endblock %}